.body {
    & > h1 {
        font-size: 2rem;
        font-weight: bold;
    }

    & > h2 {
        font-size: 1.5rem;
        padding-left: 0.5rem;
        border-left: 3px solid #ddd;
        border-bottom: 1px solid #ddd;
        margin-top: 3rem;
    }

    & > h3 {
        background: #f3f3f3;
        padding: 0.5rem;
        border-radius: 10px;
        margin-bottom: 0.5rem;
    }

    & > pre {
        color: #f7f7fc;
        background-color: #364549;
        padding: 10px;
        font-size: 1.0rem;
        overflow: auto;
        white-space: pre-wrap;
        word-wrap: break-word;
    }

    & > p > img {
        max-width: -webkit-fill-available;
    }

    & > p > a {
        word-break: break-all;
    }
}