.root {
    flex-grow: 1;
}

.paper {
    padding: theme.spacing(2);
    margin: auto;
    max-width: 720px;

    margin-bottom: 10px;
    cursor: pointer;
}

.image {
    width: 128px;
    height: 128px;
}

.img {
    margin: auto;
    display: block;
    max-width: 100%;
    max-height: 100%;
}