---
import Link from '@/components/Link.astro'
import { badgeVariants } from '@/components/ui/badge'
import { Icon } from 'astro-icon/components'

interface Props {
  sortedTags: { tag: string; count: number }[]
}

const { sortedTags } = Astro.props
---

<div class="flex flex-col gap-4">
  <div class="flex flex-wrap gap-2">
    {
      sortedTags.map(({ tag, count }) => (
        <Link
          href={`/tags/${tag}`}
          class={badgeVariants({ variant: 'secondary' })}
        >
          <Icon name="lucide:hash" class="size-3" />
          {tag}
          <span class="text-muted-foreground ml-1.5">({count})</span>
        </Link>
      ))
    }
  </div>
</div>
